.sync-button {
  border: none;
  background: none;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.sync-button:disabled {
  cursor: not-allowed;
}

.sync-button__icon {
  width: 3.6rem;
}
