.vi-sync-button {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  position: fixed;
  background: transparent;
  cursor: pointer;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.7s ease-out;
}

.vi-sync-button:hover {
  transform: scale(1.1);
}

.vi-sync-button:disabled {
  cursor: not-allowed;
}

.vi-sync-button--hidden {
  opacity: 0;
}
