.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--size-2);
  padding: var(--size-2);
  align-items: center;
}

.header__logo {
  --size: var(--size-7);
  width: var(--size);
  height: var(--size);
}

.header__client-id {
  font-size: var(--font-size-2);
}
