.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loader__spinner {
  width: var(--size-8);
  animation: var(--animation-spin);
  animation-duration: 1s;
  animation-direction: reverse;
}
