.settings {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2);
}

.settings__setting {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.settings__setting-checkbox {
  align-self: center;
  margin-right: var(--size-1);
}

.settings__setting-label {
}

.settings__setting-helper-text {
  font-size: var(--font-size-0);
  color: var(--blue-2);
  grid-column-start: 2;
}
